@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global Styling */
body {
  font-family: 'Fira Code', monospace;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

/* Ensure content is centered */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Adjust height to leave space for header & footer */
  }
  