<div class="text-center pt-10">
  <div class="badge badge-outline badge-lg">Hello!</div>
  <h1 class="text-4xl md:text-5xl xl:text-7xl font-semibold brightness-150">
    I'm <span class="text-primary">Antonio,</span>
    <br />
    Digital Marketer & Founder
  </h1>
</div>

<img
  src="/images/antonio.png"
  alt="Antonio"
  class="max-w-xs md:max-w-lg mt-4 absolute"
/>

<img src="/images/bg.png" alt="bg" height="{500}" width="{700}" />

<div class="flex justify-center lg:justify-start space-x-4 mt-4">
  <a
    class="btn btn-circle btn-md"
    href="https://www.x.com"
    aria-label="twitter"
  >
    <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8">
      <path
        d="M13.3174 10.7749L19.1457 4H17.7646L12.7039 9.88256L8.66193 4H4L10.1122 12.8955L4 20H5.38119L10.7254 13.7878L14.994 20H19.656L13.3171 10.7749H13.3174ZM11.4257 12.9738L10.8064 12.0881L5.87886 5.03974H8.00029L11.9769 10.728L12.5962 11.6137L17.7652 19.0075H15.6438L11.4257 12.9742V12.9738Z"
        fill="currentColor"
      ></path>
    </svg>
  </a>
  <!-- other social links -->
</div>